header h1{
    text-align: center;
    background-color: gray;
    margin-top: 0;
    margin-bottom: 0;
    height: 30%;
    font-size: 3rem;
    width: 100%;
    font-family: 'Poiret One', cursive;
}

.container {
    max-width: 90%;
    position: relative;
    margin: auto;
  }

.mySlides {
    display: none;
    text-align: center;
}

.mySlides .text {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 50%;
    overflow: auto;
    font-size: 1.5rem;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    padding: 10px;
    font-style: italic;
    margin: 10px;
}

.mySlides p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mySlides img {
    display: inline-block;
    width: 25%;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    border-width: 2px;
    /*border-color: black;
    border-style: solid;*/
}

.text h1 {
    font-size: 1.75rem;
    text-align: left;
    margin: 5px;

}

.text h2 {
    font-size: 1.5rem;
    margin: 5px;
}

.numbertext {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10px;
}

#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: gray;
    font-size: 1.25rem;
    transition: 0.6s ease;
    border-radius: 0px;
    user-select: none;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
  }

#next {
      right: 0;
      border-radius: 3px 0 0 3px;
  }

#prev:hover, #next:hover {
    background-color: rgba(0,0,0,0.8);
}

h1 {
    font-size: 3rem;
    text-align: center;
}

footer {
    width: 100%;
    background-color: grey;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

@media only screen and (max-width: 700px) {
    header h1 {
        font-size: 1.5rem;
    }

    #prev, #next {
        width: auto;
        margin-top: -22px;
        margin: 0px;
        font-size: 0.75rem;
        padding: 2px;
      }

    .mySlides .text {
    display: block;
    margin: auto;
    overflow: auto;
    font-size: 0.85rem;
    padding: 5px;
    width: 70%;
    }

    .mySlides img {
        display: block;
        margin: auto;
        width: 50%;
        padding-bottom: 15px;
    }
    
    .text h1 {
        font-size: 1rem;
        margin: 2px;
    
    }
    
    .text h2 {
        font-size: .8rem;
        margin: 2px;
    }

    .text p{
        margin: 2px;

    }

    .numbertext {
        font-size: .75rem;
        font-weight: bold;
        margin-top: 5px;
    }

