html {
    height: 100%;
    margin: 0;
    /*display: flex;
    justify-content: flex-start;
    align-items: flex-start;*/
}

.bg{
    /*background-color: black;*/
}

header h1{
    text-align: center;
    background-color: gray;
    margin-top: 0;
    margin-bottom: 0;
    height: 30%;
    font-size: 3rem;
    width: 100%;
    font-family: 'Graduate', cursive;
}

.container {
    position: relative;
}
.container button {
    position: absolute;
    font-size: 0.8rem;
    border-radius: 50%;
    z-index: 1;
    font-weight: bold;
    cursor: pointer;
    
}



.container .image {
    width: 100%;
    height: auto;
    background-color: black;
    /*background-position: center;*/
    background-repeat: no-repeat;
    /*background-size: cover;*/
    z-index: -10;
}

.visited {
    background-color: lightblue;
    color: black;
}

.unvisited {
    background-color: red;
    color: black;
}

.modal {
    display: none;
    position: absolute;
    z-index: 2;
    padding-top: 100px;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 80%;
    /*overflow: auto;*/
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.modal-content h1 {
    font-family: 'Graduate', cursive;
}

.modal-content img {
    width: 95%;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


footer {
    width: 100%;
    background-color: grey;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

#washington {
    position: absolute;
    top: 42.3%;
    left: 85.5%;
}
#pittsburgh {
    position: absolute;
    top: 38%;
    left: 80.5%;
}
#cleveland {
    position: absolute;
    top: 35%;
    left: 77%;
}
#detroit {
    position: absolute;
    top: 33%;
    left: 74%;
}
#chicagocubs {
    position: absolute;
    top: 33.8%;
    left: 66.5%;
}
#stlouis {
    position: absolute;
    top: 48%;
    left: 62.5%;
}
#kansascity {
    position: absolute;
    top: 47%;
    left: 54.5%;
}
#minnesota {
    position: absolute;
    top: 25%;
    left: 57%;
}
#toronto {
    position: absolute;
    top: 26%;
    left: 80%;
}
#boston {
    position: absolute;
    top: 25%;
    left: 94.5%;
}
#philadelphia {
    position: absolute;
    top: 37%;
    left: 88%;
}
#baltimore {
    position: absolute;
    top: 40.5%;
    left: 87%;
}
#miami {
    position: absolute;
    top: 93%;
    left: 85.5%;
}
#tampa {
    position: absolute;
    top: 87.2%;
    left: 79.5%;
}
#atlanta {
    position: absolute;
    top: 64%;
    left: 74.5%;
}
#denver {
    position: absolute;
    top: 43%;
    left: 36%;
}
#houston {
    position: absolute;
    top: 82.5%;
    left: 54%;
}
#arlington {
    position: absolute;
    top: 71%;
    left: 50%;
}
#phoenix {
    position: absolute;
    top: 63.5%;
    left: 21.5%;
}
#sandiego {
    position: absolute;
    top: 63.5%;
    left: 11.5%;
}
#losangeles {
    position: absolute;
    top: 57.5%;
    left: 9.2%;
}
#anaheim {
    position: absolute;
    top: 59.7%;
    left: 10.2%;
}
#yankees {
    position: absolute;
    top: 31.2%;
    left: 90%;
}
#seattle {
    position: absolute;
    top: 4.4%;
    left: 11.3%;
}
#oakland {
    position: absolute;
    top: 41.4%;
    left: 6%;
}
#sanfrancisco {
    position: absolute;
    top: 41%;
    left: 3.3%;
}
#cincinnati {
    position: absolute;
    top: 44.5%;
    left: 73%;
}
#chicagosox {
    position: absolute;
    top: 36%;
    left: 66.5%;
}
#milwaukee {
    position: absolute;
    top: 30.8%;
    left: 66.2%;
}
#mets {
    position: absolute;
    top: 33%;
    left: 91.5%;
}